
    <div class="row">
        <div class="col-md-12">
            <div class="item">
               
                <img src="~/img/about.jpg" alt="" width="1150" height="450">
            </div>
            <br />
        </div>
       
        <div>
        <h3>Story of Say Cheese</h3>
            </div>
        <br />
        <p>"SayCheese" - this is the first specialty shopelite varieties of 
        cheese in Yerevan. On our shelves you can always find the best cheeses 
        from England, France, Switzerland, Italy, Holland and other countries. It will 
        present the best varieties of Armenian cheese too.Besides cheese, Sauces, intended for 
        cheese and beyond, will find their place in the store range. The advantage of these British 
        sauces is that they do not contain gluten.In "SayCheese" will be also presented a 
        wide range of cheese accessories to well-known firm BOSKA.  </p>

    </div>
    