@using SayCheese.Data.Models
@model  IEnumerable<Product>

<div>
    <h2>All products are shown here</h2>
  
</div>
@{ 
    foreach(var product in Model)
    {
       <div>
           <h4>Product Name:@product.Name</h4>
           <p>Price:@product.Price.ToString("c")</p>
       </div>
    }
}

